bin/
obj/
artifacts/
release/
.vs/
.idea/

*.user
*.suo
*.userosscache
*.sln.docstates

*.pdb
*.log
*.cache
*.binlog
*.dmp
*.etl
*.nupkg
*.snupkg

app-config.json
traffic-test-config.json
steamwebhelper.exe
TestResults/

# 临时文件夹
.tmp
*.tmp
